.body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  color: rgba(113, 128, 150, 1);
  width: 1152px;
  /*max-width: 1280px;*/
  margin: auto;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation__paragraph {
  font-weight: 700;
  margin: 36px 0 25px 83px;
  font-size: 20px;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.anchor {
  text-decoration: none;
  color: black;
}

.anchor:visited {
  color: darkslateblue;
}

.anchor:hover {
  color: rgba(113, 128, 150, 1);
}

.navigation__search {
  display: flex;
  gap: 12.4px;
  margin: 36px 186px 25px 298px;
  color: #718096;
  cursor: pointer;
  align-items: center;
}

.navigation__search-input {
  border: none;
  padding: 0;
  width: 60px;
  font-size: 14px;
}

.navigation__search-input:focus {
  outline: none;
}

.navigation__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 36px;
  gap: 30px;
  margin-bottom: 25px;
  margin-right: 96px;
  color: black;
}

.page1 {
  display: flex;
  width: 1152px;
  height: auto;
  background-color: #FBFBFB;
  overflow: hidden;
}

.page1__title {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 131px 102px 135px 127px;
  width: 31%;
  height: 31%;
  color: black;
}

.page1__title-text {
  font-weight: 700;
  font-size: 60px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.page1__paragraph {
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(74, 85, 104, 1);
}

.page1__people-image {
  margin: 70px 93px 74px 0;
  width: 41%;
  height: 68%;
}

.page2 {
  display: flex;
  width: 84%;
  height: 243px;
  justify-content: space-between;
  border: 1px solid #E2E2E2;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 39px auto;
  overflow: hidden;
}

.page2__text-content {
  display: flex;
  flex-direction: column;
  width: 403px;
  margin: 41px 77px 0 52px;
}

.page2__title {
  font-weight: 700;
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(45, 55, 72, 1);
}

.page2__paragraph {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.text-content-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.bold {
  font-weight: 700;
  color: rgba(45, 55, 72, 1);
}

.small-component {
  display: flex;
  width: 84%;
  height: 382px;
  box-sizing: border-box;
  margin: 43px auto;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
}

.small-component__content {
  width: 31%;
  height: 382px;
  box-shadow: 0 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
  flex-wrap: wrap;
}

.small-component img {
  width: 100%;
  height: auto;
}

.small-component__title {
  font-size: 20px;
  margin: 18px 39px 15px 16px;
  color: rgba(45, 55, 72, 1);
}

.small-component__paragraph {
  width: 258px;
  height: 85px;
  font-size: 14px;
  margin: 0 25px 22px 17px;
}

.small-component__footer {
  margin: 0 24px 24px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.page3 {
  display: flex;
  width: 84%;
  height: 500px;
  justify-content: space-between;
  border: 1px solid #E2E2E2;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 43px auto;
  background-color: #F7FAFC;
  overflow: hidden;
  align-items: center;
}

.page3__text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page3__text_title {
  font-size: 40px;
  margin: auto 69px 24px 63px;
  width: 308px;
  height: 96px;
  color: black;
}

.page3__text_paragraph {
  width: 311px;
  height: 114px;
  margin: 0 66px 31px 63px;
}

.page3__text_footer {
  margin: 0 65px 118px 63px;
  display: flex;
  justify-content: space-between;
  color: rgba(74, 85, 104, 1);
}

.read-more-extra {
  color: black;
  font-weight: 700;
}

.button-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 1060px;
}

.button {
  display: flex;
  font-weight: 700;
  background-color: rgba(107, 70, 193, 1);
  width: 122px;
  height: 37px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-font {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.line {
  background-color: rgba(232, 232, 232, 1);
  width: 100%;
  margin-top: 43px;
  margin-bottom: 0;
}

.main-page-footer {
  display: flex;
}

.main-page-footer__paragraph {
  margin: auto 497px auto 89px;
  color: rgba(0, 0, 0, 1);
}

.main-page-links {
  margin: 30px 100px 30px auto;
  display: flex;
  gap: 30px;
  color: rgba(69, 68, 68, 1);
}

@media screen and (max-width: 1280px) {
  .body {
    width: 1024px;
    margin: auto;
  }

  .navigation {
    width: 100%;
  }

  .navigation__search {
    margin: 36px 85px 25px 178px;
  }

  .links {
    margin-right: 77px;
  }

  .page1 {
    width: 100%;
    height: 41%;
  }

  .page1__title-text {
    font-size: 46px;
  }

  .page1__cup-of-coffee-image {
    width: 57px;
    height: 54px;
  }

  .page1__paragraph {
    font-size: 24px;
  }

  .page2 {
    height: 220px;
  }

  .page2 img {
    width: 45%;
    height: 220px;
  }

  .page2__paragraph {
    font-size: 12px;
  }

  .small-component__content {
    display: flex;

  }

  .small-component__paragraph {
    font-size: 11px;
    margin: auto;
    padding: 0 16px 0 16px;
  }

  .small-component__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 9px;
  }

  .page3 {
    height: 420px;
  }

  .page3__text {
    width: 46%;
  }

  .page3__text_title {
    font-size: 32px;
    margin: 25% 69px 24px 63px;
  }

  .page3__text_paragraph {
    font-size: 13px;
  }

  .page3__text_footer {
    font-size: 13px;
  }

  .page3  img {
    width: 54%;
    height: 100%;
  }

  .button {
    margin-right: 11%;
    }

  .main-page-footer__paragraph {
    font-size: 11px;
  }

  .main-page-links img {
    width: 15px;
  }
}

@media screen and (max-width: 1024px){
  .body {
    width: 921px;
    margin: auto;
  }

  .navigation {
    width: 100%;
  }

  .navigation__paragraph {
    font-size: 16px;
    margin-left: 90px;
  }

  .navigation__search {
    margin: 36px 85px 25px 150px;
  }

  .navigation__links {
    margin-right: 85px;
  }

  .page1 {
    width: 100%;
    height: 41%;
  }

  .page1__title-text {
    font-size: 36px;
  }

  .page1__cup-of-coffee-image {
    width: 57px;
    height: 54px;
  }

  .page1__paragraph {
    font-size: 18px;
  }

  .page2 {
    height: 200px;
  }

  .page2 img {
    width: 45%;
    height: 200px;
  }

  .page2__text-content {
    margin-top: auto;
    margin-bottom: auto;
  }

  .page2__title {
    font-size: 22px;
  }

  .page2__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .page2 span {
    font-size: 9px;
  }

  .small-component__content {
    display: flex;
  }

  .small-component__paragraph {
    font-size: 11px;
    margin: auto;
    padding: 0 16px 0 16px;
  }

  .small-component__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 9px;
  }

  .page3 {
    height: 370px;
  }

  .page3__text {
    width: 46%;
  }

  .page3__text_title {
    font-size: 30px;
    margin: 20% 69px 24px 63px;
  }

  .page3__text_paragraph {
    font-size: 11px;
    width: 70%;
  }

  .page3__text_footer {
    font-size: 13px;
  }

  .page3  img {
    width: 54%;
    height: 100%;
  }

  .button {
    margin-right: 20%;
  }

  .main-page-footer__paragraph {
    font-size: 12px;
    margin-right: 380px;
  }

  .main-page-links img {
    width: 15px;
  }

  .main-page-links {
    margin-right: 80px;
  }
}







