.body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  color: rgba(113, 128, 150, 1);
  width: 1152px;
  max-width: 1280px;
  margin: auto;
  /*align-items: center;*/
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.anchor {
  text-decoration: none;
}

.hot-coffee {
  font-weight: 700;
  margin: 36px 0 25px 83px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.search {
  display: flex;
  /*margin-top: 36px;*/
  /*margin-right: 186px;*/
  /*margin-bottom: 25px;*/
  gap: 12.4px;
  margin: 36px 186px 25px 298px;
  color: #718096;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 36px;
  gap: 30px;
  margin-bottom: 25px;
  margin-right: 96px;
  color: black;
}

.page1 {
  display: flex;
  width: 1152px;
  height: 467px;
  align-self: center;
  background-color: #FBFBFB;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 131px 102px 135px 127px;
  width: 354px;
  height: 146px;
  color: black;
}

.title-text {
  font-weight: 700;
  font-size: 60px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.paragraph {
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(74, 85, 104, 1);
}

.people-image {
  margin: 70px 93px 74px 0;
}

.page2 {
  display: flex;
  width: 966px;
  height: 243px;
  justify-content: space-between;
  border: 1px solid #E2E2E2;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 39px auto;
}

.text-content {
  display: flex;
  flex-direction: column;
  width: 403px;
  margin: 41px 77px 0 52px;
}

.title2 {
  font-weight: 700;
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(45, 55, 72, 1);
}

.paragraph2 {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.text-content-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.bold {
  font-weight: 700;
  color: rgba(45, 55, 72, 1);
}

.small-component {
  display: flex;
  width: 966px;
  height: 382px;
  box-sizing: border-box;
  margin: 43px auto;
  justify-content: space-between;
}

.small-component-content {
  width: 300px;
  height: 382px;
  box-shadow: 0 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.small-component-title {
  font-size: 20px;
  margin: 18px 39px 15px 16px;
  color: rgba(45, 55, 72, 1);
}

.small-component-paragraph {
  width: 258px;
  height: 85px;
  font-size: 14px;
  margin: 0 25px 22px 17px;
}

.small-component-footer {
  margin: 0 24px 24px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.page3 {
  display: flex;
  width: 965px;
  height: 500px;
  justify-content: space-between;
  border: 1px solid #E2E2E2;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 43px auto;
  background-color: #F7FAFC;
}

.page3-title {
  font-size: 40px;
  margin: 98px 69px 24px 63px;
  width: 308px;
  height: 96px;
  color: black;
}

.page3-paragraph {
  width: 311px;
  height: 114px;
  margin: 0 66px 31px 63px;
}

.page3-footer {
  margin: 0 65px 118px 63px;
  display: flex;
  justify-content: space-between;
  color: rgba(74, 85, 104, 1);
}

.read-more-extra {
  color: black;
  font-weight: 700;
}

.button-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 1060px;
}

.button {
  display: flex;
  font-weight: 700;
  background-color: rgba(107, 70, 193, 1);
  width: 122px;
  height: 37px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-font {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.line {
  background-color: rgba(232, 232, 232, 1);
  width: 1152px;
  margin-top: 43px;
  margin-bottom: 0;
}

.main-page-footer {
  display: flex;
  justify-content: space-between;
}

.main-page-footer-paragraph {
  margin: 29px 497px 31px 89px;
  color: rgba(0, 0, 0, 1);
}

.main-page-links {
  margin: 31px 100px 30px auto;
  display: flex;
  gap: 30px;
  color: rgba(69, 68, 68, 1);
}